html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	height: 100vh;
}

canvas {
	width: 100%;
	height: 100%;
}

.loader {
	padding: 0.2em;
	text-align: center;
}

.palette {
	overflow-x: auto;
	white-space: nowrap;
	user-select: none;
}
.palette input {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
.palette span {
	display: inline-block;
	border: 1px solid;
	text-align: center;
	min-width: 3em;
	line-height: 3;
	border-radius: 0.3em;
	margin: 0.2em;
}
.palette input:not(:checked) + span {
	opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: black;
		color: white;
	}
}
